@page "/"
@using Evo.Controls.Blazor

<EvoSplitter GutterBarClass="splitterGutterBar" Orientation="SplitOrientation.Vertical">
    <EvoSplitterPanes>
        <EvoSplitterPane Class="splitterPane" Style="user-select: none;" MinimumSizeInPixels="28">
            <p @onmousedown:preventDefault="true" @onmousemove:preventDefault="true" style="user-select: none;">inner content 1</p>
        </EvoSplitterPane>
        <EvoSplitterPane Class="splitterPane" MinimumSizeInPixels="26">
            <EvoCanvas></EvoCanvas>
        </EvoSplitterPane>
    </EvoSplitterPanes>

</EvoSplitter>